{{#each posts as |post|}}
  <article class="message post is-dark">
    <div class="message-header">
      <h3>{{post.title}}</h3>
      <div class="post-datetime">
        <p class="date">{{format_date post.post_time}}</p>
        <p class="time">{{format_time post.post_time}}</p>
      </div>
    </div>
    <div class="message-body">
      <h3>by: {{post.user.username}}</h3>
      <p>
        {{post.post_text}}
      </p>
    </div>
    <div class="comment-button">
      <button class="button is-dark">Comment</button>
    </div>

    {{#each post.comments as |comment|}}
    {{> comment}}
    {{/each}}

  </article>
{{/each}}